<footer style="background-color: #4dffb8;">
<nav th:fragment="header" class="container navbar navbar-expand-lg bg-body-tertiary" style="background-color: #4dffb8;">
    <div class="container-fluid" style="background-color: #4dffb8; border-radius: 20px;">
        <!--        <a class="navbar-brand" href="#">Navbar</a>-->
        <!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--            <span class="navbar-toggler-icon"></span>-->
        <!--        </button>-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="color: #00cc7a;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/poems">Вірші</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tales">Казки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts">Контакти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Про автора</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/new">Коментарі</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/new">© 2024</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<!--<footer th:fragment="footer" class=" container row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">-->
<!--    <div class="col mb-3">-->
<!--&lt;!&ndash;        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">&ndash;&gt;-->
<!--&lt;!&ndash;            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>&ndash;&gt;-->
<!--&lt;!&ndash;        </a>&ndash;&gt;-->
<!--        <p class="text-body-secondary">© 2024</p>-->
<!--    </div>-->


<!--    <div class="col mb-3">-->

<!--    </div>-->

<!--    <div class="col mb-3">-->
<!--        <h5>Section</h5>-->
<!--        <ul class="nav flex-column">-->
<!--            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>-->
<!--            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>-->
<!--            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>-->
<!--            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>-->
<!--            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>-->
<!--        </ul>-->
<!--    </div>-->

<!--    <div class="col mb-3">-->
<!--        <h5>Section</h5>-->
<!--        <ul class="nav flex-column">-->
<!--            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>-->
<!--            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>-->
<!--            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>-->
<!--            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>-->
<!--            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>-->
<!--        </ul>-->
<!--    </div>-->

<!--    <div class="col mb-3">-->
<!--        <h5>Section</h5>-->
<!--        <ul class="nav flex-column">-->
<!--            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>-->
<!--            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>-->
<!--            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>-->
<!--            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>-->
<!--            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>-->
<!--        </ul>-->
<!--    </div>-->
</footer>